---
layout: default
---

{% for post in paginator.posts %}
<div class="post">
  {% include postmeta.html %}
  <div class="content">
    <h3><a href="{{ post.url }}" rel="bookmark" title="Permanent Link to {{ post.title }}">{{ post.title }}</a></h3>

    {{ post.excerpt | markdownify }}

    <a href="{{ post.url }}" class="more-link">[Read more &rarr;]</a></p>
    <br clear="left" />
  </div>

</div><!-- end post -->
{% endfor %}

<div class="postnoline">
  {% if paginator.next_page_path %}
  <span class="previous"><a href="{{ paginator.next_page_path }}/" >&larr; Before</a></span>
  {% endif %}
  {% if paginator.previous_page_path %}
  <span class="next"><a href="{{ paginator.previous_page_path }}" >After &rarr;</a></span>
  {% endif %}
</div>

