<meta name="viewport" content="width=device-width" />
<meta name="verify-v1" content="unGvQ7Jwj5liZb2PzH2ckduvpe8Ua3Ls0MONzCHQQn4=" />

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/style.css">

<link rel="alternate" type="application/rss+xml" title="girtby.net &raquo; Feed" href="/feed/" />
<!-- <link rel="alternate" type="application/rss+xml" title="girtby.net &raquo; Comments Feed" href="/comments/feed/" /> -->

<link rel="openid.server" href="http://www.myopenid.com/server" />
<link rel="openid.delegate" href="http://arankine.myopenid.com/" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="/extras/friendly_dates.js"></script>

<link rel="meta" href="http://girtby.net/labels.rdf" type="application/rdf+xml" title="ICRA labels" />
<meta http-equiv="pics-Label" content='(pics-1.1 "http://www.icra.org/pics/vocabularyv03/" l gen true for "http://girtby.net" r (n 0 s 0 v 0 l 2 oa 0 ob 0 oc 0 od 0 oe 0 of 0 og 0 oh 0 c 1) gen true for "http://www.girtby.net" r (n 0 s 0 v 0 l 2 oa 0 ob 0 oc 0 od 0 oe 0 of 0 og 0 oh 0 c 1))' />
