---
layout: default
---
<div class="content">
  <h1>Yearly archive for {{ page.year }}</h1>
  <div>
    <ul>
      <li><a href="01">January - {{ page.postcounts[0] }} posts</a></li>
      <li><a href="02">February - {{ page.postcounts[1] }} posts</a></li>
      <li><a href="03">March - {{ page.postcounts[2] }} posts</a></li>
      <li><a href="04">April - {{ page.postcounts[3] }} posts</a></li>
      <li><a href="05">May - {{ page.postcounts[4] }} posts</a></li>
      <li><a href="06">June - {{ page.postcounts[5] }} posts</a></li>
      <li><a href="07">July - {{ page.postcounts[6] }} posts</a></li>
      <li><a href="08">August - {{ page.postcounts[7] }} posts</a></li>
      <li><a href="09">September - {{ page.postcounts[8] }} posts</a></li>
      <li><a href="10">October - {{ page.postcounts[9] }} posts</a></li>
      <li><a href="11">November - {{ page.postcounts[10] }} posts</a></li>
      <li><a href="12">December - {{ page.postcounts[11] }} posts</a></li>
    </ul>
  </div>
</div>
